.parceiros
{
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2
{
    margin-bottom: 60px;
}

.parceiros ul
{
    padding: 0 20px;
    max-width: 1400px;
    display: grid; /*grid em vez do flex, pq fica alinhado em cada coluna. Se fosse no flex, não ficaria assim.*/
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.parceiros li
{
    display: flex;
    padding: 32px;
    border: 2px solid var(--cor-2);
}

.parceiros img
{
    margin: auto;
}